@media screen and (min-width: 700px) {
  .forecast li {
    width: 13%;
  }

  .weather_font {
    font-size: 50px;
  }
}

@media screen and (min-width: 900px) {
  .forecast li {
    width: 15%;
  }

  .weather_font {
    font-size: 60px;
  }
}

@media screen and (min-width: 1025px) {
  .forecast li {
    width: 12%;
  }
}

.negative_margin_top {
  margin-top: -30px;
}

.cityform {
  margin: 30px 30px 30px 0;
}

.cityform input {
  width: 40%;
  margin-right: 10px;
}
